name: checks

on: [push]

jobs:
  test-lint:
    name: Test and Lint
    runs-on: ubuntu-latest

    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Checkout
        uses: actions/checkout@v2

      - name: Build Docker image
        run: docker-compose build

      - name: Run Django tests
        run: docker-compose run --rm \
          -v "" \
          app sh -c "/py/bin/python manage.py test"

      - name: Run flake8 Lint
        run: docker-compose run --rm \
          -v "" \
          app sh -c "flake8"
